@import url("common.css");


.password-container {
    max-width: 50%;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    padding: 2rem;
}

.password-form {
    max-width: 500px;
    margin: 0 auto;
}

.form-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.password-toggle-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 40px; /* Уменьшил ширину кнопки */
    padding: 0.375rem; /* Уменьшил отступы */
    display: flex;
    align-items: center;
    justify-content: center;
}

.eye-icon {
    width: 16px; /* Уменьшил размер иконки глаза */
    height: 16px;
}

.submit-btn {
    max-width: 200px;
    margin: 0 auto; /* Центрирование кнопки */
}