@import url("common.css");



/* Убираем лишний отступ снизу в fieldset */
fieldset {
    margin-bottom: 0; /* Убираем отступ снизу */
}

.w-32 {
    width: 32% !important;
}

.w-64 {
    width: 66% !important;
}

#complaint {
    height: 100px; /* Увеличенная высота */
    resize: vertical; /* Разрешить изменение размера по вертикали */
}

.container {
    max-width: 60%;
    border: 1px solid #ddd; /* Легкая граница */
    border-radius: 10px; /* Скругленные углы */
    background-color: white; /* Белый фон формы */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); /* Тень для выделения */
}

