@import url("common.css");

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

th:nth-child(1), td:nth-child(1) {
    width: 5%; /* 5% ширины для столбца № */
}

th:nth-child(2), td:nth-child(2) {
    width: 14%; /* 10% для столбца Оператор */
}

th:nth-child(3), td:nth-child(3) {
    width: 14%; /* 15% для столбца Клиент */
}

th:nth-child(4), td:nth-child(4) {
    width: 11%; /* 20% для столбца Телефон */
}

th:nth-child(5), td:nth-child(5) {
    width: 10%; /* 20% для столбца Дата создания */
}

th:nth-child(6), td:nth-child(6) {
    width: 10%; /* 10% для столбца Статус */
}

th:nth-child(7), td:nth-child(7) {
    width: 18%; /* 15% для столбца Автомобиль */
    text-align: left; /* Текст выравнивается по левому краю */
    padding-left: 50px; /* Отступ слева */
}

th:nth-child(8), td:nth-child(8) {
    width: 11%; /* 15% для столбца Госномер */
}

th:nth-child(9), td:nth-child(9) {
    width: 7%; /* 10% для столбца Действие */
}

input[type="checkbox"].form-check-input:not(:checked) {
    background-color: #adb5bd; /* насыщенный серый */
    border-color: #adb5bd;
}
