/* Общие стили для таблицы и пагинации */

/* Контейнер, который включает таблицу и пагинацию */
.table-container {
    display: flex;
    flex-direction: column;
    min-height: 750px; /* Минимальная высота */
    background-color: white; /* Белый фон */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); /* Тень */
}

/* Блок с таблицей, который может прокручиваться */
.table-wrapper {
    flex-grow: 1; /* Таблица займет все доступное пространство */
    overflow-y: auto; /* Прокрутка для длинных таблиц */
    margin-bottom: 20px;
}

/* Таблица */
table {
    width: 100%;
    border-collapse: collapse; /* Убирает двойные границы между ячейками */
    margin-bottom: 20px; /* Отступ снизу */
}

th, td {
    border: 1px solid #B0C4DE !important; /* Явные красные границы между ячейками */
    padding: 12px 16px;
    text-align: center; /* Центрирование текста в ячейках */
}

/* Стиль для заголовков */
th {
    background-color: #cfe2ff; /* Цвет фона для шапки */
    font-weight: bold;
    color: #343a40;
    font-size: 1.1em; /* Увеличение размера шрифта в шапке */
    text-align: center !important; /* Явное центрирование текста */
}

/* Стиль для строк таблицы */
tr:nth-child(even) {
    background-color: #f8f9fa; /* Светлый цвет для четных строк */
}

tr:nth-child(odd) {
    background-color: #e1e5e8; /* Темно-светлый цвет для нечетных строк */
}

/* Пагинация */
.pagination-container {
    text-align: center; /* Центрирование по горизонтали */
    padding-bottom: 10px; /* Отступ снизу */
    width: 100%; /* Занимаем всю ширину доступного пространства */
    display: flex;
    justify-content: center; /* Центрирование блока внутри родителя */
    align-items: center; /* Выравнивание по вертикали */
    height: 50px; /* Фиксированная высота для контейнера пагинации */
}

/* Стиль для стрелок пагинации */
.pagination-arrow {
    display: inline-flex; /* Используем flex для выравнивания иконок */
    align-items: center; /* Выравнивание по вертикали */
    justify-content: center; /* Выравнивание по горизонтали */
    width: 40px; /* Фиксированная ширина */
    height: 40px; /* Фиксированная высота */
    cursor: pointer;
    margin: 0 5px; /* Отступ между стрелками и числами */
}

/* Стиль для чисел пагинации */
.pagination span {
    font-size: 16px;
    color: #343a40;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px; /* Отступ между числами */
}

/* Стиль для пагинации */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    list-style-type: none; /* Убираем маркеры списка */
    padding-left: 0;
    margin: 0; /* Убираем внешние отступы */
}