@import url("common.css");

/*.container-1 {*/
/*    width: 75%; !* Контейнер занимает 80% от оставшейся ширины *!*/
/*    margin-left: 20%; !* Отступ слева для навигации *!*/
/*    margin-right: 5%; !* Отступ справа *!*/
/*    padding: 20px;*/
/*    background-color: white; !* Белый фон *!*/
/*    border: 1px solid #ddd; !* Легкая граница *!*/
/*    border-radius: 10px; !* Скругленные углы *!*/
/*    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); !* Тень для выделения *!*/
/*}*/


/*.container-2 {*/
/*    max-width: 60%;*/
/*    margin: 0 auto; !* Центрирование по горизонтали *!*/
/*    border: 1px solid #ddd; !* Легкая граница *!*/
/*    border-radius: 10px; !* Скругленные углы *!*/
/*    background-color: white; !* Белый фон формы *!*/
/*    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); !* Тень для выделения *!*/
/*}*/

/* Размеры столбцов в процентном соотношении */
.table-container table th,
.table-container table td {
    width: auto; /* Автоматическое распределение */
    text-align: center; /* Центрирование текста по умолчанию */
}

.table-container table th:nth-child(1), /* Столбец № */
.table-container table td:nth-child(1) {
    width: 5%;
}

.table-container table th:nth-child(2), /* Столбец Название */
.table-container table td:nth-child(2) {
    width: 25%;
    text-align: left; /* Текст выравнивается по левому краю */
    padding-left: 40px; /* Отступ слева */
}

.table-container table th:nth-child(3), /* Столбец Количество */
.table-container table td:nth-child(3) {
    width: 15%;
}

.table-container table th:nth-child(4), /* Столбец Цена */
.table-container table td:nth-child(4) {
    width: 15%;
}

.table-container table th:nth-child(5), /* Столбец Срок годности */
.table-container table td:nth-child(5) {
    width: 15%;
}

.table-container table th:nth-child(6), /* Столбец Категория */
.table-container table td:nth-child(6) {
    width: 20%;
    text-align: left; /* Текст выравнивается по левому краю */
    padding-left: 40px; /* Отступ слева */
}

.table-container table th:nth-child(7), /* Столбец Действие */
.table-container table td:nth-child(7) {
    width: 5%;
}
