@import url("common.css");


/* Переопределенные стили для таблицы с классом .current-items */
.current-items {
    border-collapse: collapse; /* Объединяем границы ячеек */
}


table td:nth-child(2),
table th:nth-child(2) {
    text-align: center; /* Выравнивание текста по левому краю */
}


.current-items th, .current-items td {
    text-align: center; /* Выравнивание текста по центру */
}


h2 {
    font-size: 1.8em;
    font-weight: bold;
    text-transform: uppercase;
    color: #2c3e50;
}


h3 {
    font-size: 1.2em;
    font-weight: bold;
    color: #34495e;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-bottom: 3px;
}


.error-row {
    background-color: #ffcccc; /* Светло-красный цвет */
}