<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Смена пароля</title>
</head>
<body>

<h1>Смена пароля</h1>

<form th:action="@{/my-profile/update-password}" method="post">

    <div th:if="${errorMessage}" style="color: red;" th:text="${errorMessage}"></div>

    <!-- Новый пароль -->
    <div class="form-group">
        <label for="newPassword">Новый пароль</label>
        <input type="password" id="newPassword" name="newPassword" required>
        <div th:if="${errorNewPassword}" class="error-message">
            <span th:text="${errorNewPassword}"></span>
        </div>
    </div>

    <!-- Подтверждение нового пароля -->
    <div class="form-group">
        <label for="confirmPassword">Подтвердите новый пароль</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
    </div>

    <!-- Кнопки действий -->
    <button type="submit">Изменить пароль</button>
    <button type="button" onclick="window.location.href='/my-profile'">Отмена</button>
</form>

</body>
</html>
