<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Данные сотрудника</title>
</head>
<body>


<div>
    <a th:href="@{/employee/list}">
        <button type="button">К списку сотрудников</button>
    </a>
</div>


<h1>Информация о сотруднике</h1>


<!-- Подключаю всплывающее уведомление -->
<div th:replace="~{fragments/toast :: toast}"></div>


<form id="employeeForm" th:action="@{/employee/profile/update}" method="post" th:object="${selectedEmployee}">
    <input type="hidden" name="id" th:value="${selectedEmployee.id}"/>

    <!-- Личная информация -->
    <div>
        <label for="surname">Фамилия:</label>
        <input id="surname" type="text" name="surname" th:value="${selectedEmployee.surname}" class="editable"
               th:disabled="${!#fields.hasErrors() && errorDismissalDate == null && errorPhoneNumberUpdate == null}"/>
        <div th:if="${#fields.hasErrors('surname')}" style="color: red;" th:errors="*{surname}"></div>
    </div>

    <div>
        <label for="name">Имя:</label>
        <input id="name" type="text" name="name" th:value="${selectedEmployee.name}" class="editable"
               th:disabled="${!#fields.hasErrors() && errorDismissalDate == null && errorPhoneNumberUpdate == null}"/>
        <div th:if="${#fields.hasErrors('name')}" style="color: red;" th:errors="*{name}"></div>
    </div>

    <div>
        <label for="patronymic">Отчество:</label>
        <input id="patronymic" type="text" name="patronymic" th:value="${selectedEmployee.patronymic}" class="editable"
               th:disabled="${!#fields.hasErrors() && errorDismissalDate == null && errorPhoneNumberUpdate == null}"/>
    </div>

    <div>
        <label for="phoneNumber">Телефон:</label>
        <input id="phoneNumber" type="text" name="phoneNumber" th:value="${selectedEmployee.phoneNumber}"
               class="editable"
               th:disabled="${!#fields.hasErrors() && errorDismissalDate == null && errorPhoneNumberUpdate == null}"
               pattern="[0-9]*" title="Введите только цифры"
               oninput="this.value = this.value.replace(/[^0-9]/g, '')"/>
        <div th:if="${#fields.hasErrors('phoneNumber')}" style="color: red;" th:errors="*{phoneNumber}"></div>
        <div th:if="${errorPhoneNumberUpdate}" style="color: red;" th:text="${errorPhoneNumberUpdate}"></div>
    </div>

    <!-- Профессиональные сведения -->
    <div>
        <label for="position">Должность:</label>
        <select id="position" th:field="*{position}" name="positionId"
                class="editable"
                th:disabled="${!#fields.hasErrors() && errorDismissalDate == null && errorPhoneNumberUpdate == null}">
            <option value="" disabled>Выберите должность</option>
            <option th:each="position : ${positions}"
                    th:value="${position.id}"
                    th:text="${position.positionName}"
                    th:selected="${position.id == selectedEmployee.position?.id}"/>
        </select>
    </div>

    <div>
        <label for="salary">Зарплата:</label>
        <input id="salary" type="number" name="salary" th:value="${selectedEmployee.salary}" class="editable"
               th:disabled="${!#fields.hasErrors() && errorDismissalDate == null && errorPhoneNumberUpdate == null}"/>
        <div th:if="${#fields.hasErrors('salary')}" style="color: red;" th:errors="*{salary}"></div>
    </div>

    <div>
        <label for="employmentStatus">Статус:</label>
        <select id="employmentStatus" name="employmentStatus" class="editable"
                th:disabled="${!#fields.hasErrors() && errorDismissalDate == null && errorPhoneNumberUpdate == null}">
            <option value="" disabled>Выберите статус</option>
            <option th:each="status : ${statuses}" th:value="${status.name()}" th:text="${status.description}"
                    th:selected="${status == selectedEmployee.employmentStatus}"/>
        </select>
    </div>

    <div>
        <label for="hireDate">Дата трудоустройства:</label>
        <input id="hireDate" type="date" name="hireDate" th:value="${selectedEmployee.hireDate}" class="editable"
               th:disabled="${!#fields.hasErrors() && errorDismissalDate == null && errorPhoneNumberUpdate == null}"/>
        <div th:if="${#fields.hasErrors('hireDate')}" style="color: red;" th:errors="*{hireDate}"></div>
    </div>

    <div>
        <label for="dismissalDate">Дата увольнения:</label>
        <input id="dismissalDate" type="date" name="dismissalDate" th:value="${selectedEmployee.dismissalDate}"
               class="editable"
               th:disabled="${!#fields.hasErrors() && errorDismissalDate == null && errorPhoneNumberUpdate == null}"/>
        <div th:if="${errorDismissalDate}" style="color: red;"><span th:text="${errorDismissalDate}"></span></div>
    </div>

    <div>
        <label for="birthDate">Дата рождения:</label>
        <input id="birthDate" type="date" name="birthDate" th:value="${selectedEmployee.birthDate}" class="editable"
               th:disabled="${!#fields.hasErrors() && errorDismissalDate == null && errorPhoneNumberUpdate == null}"/>
        <div th:if="${#fields.hasErrors('birthDate')}" style="color: red;" th:errors="*{birthDate}"></div>
    </div>

    <!-- Кнопки управления -->
    <div>
        <button type="button" id="editButton" th:style="'display: ' + (${editMode} ? 'none' : 'inline-block')"
                onclick="toggleEditMode(true)">Редактировать
        </button>

        <button type="submit" id="saveButton" th:style="'display: ' + (${editMode} ? 'inline-block' : 'none')">
            Сохранить
        </button>

        <button type="button" id="cancelButton" th:style="'display: ' + (${editMode} ? 'inline-block' : 'none')"
                th:onclick="'window.location.href=\'/employee/profile/' + ${selectedEmployee.id} + '?action=cancel\''">
            Отмена
        </button>
    </div>
</form>


<script>
        // Функция переключения режима редактирования
        function toggleEditMode(editMode) {
            const inputs = document.querySelectorAll('.editable');
            inputs.forEach(input => input.disabled = !editMode);

            document.getElementById('editButton').style.display = editMode ? 'none' : 'inline-block';
            document.getElementById('saveButton').style.display = editMode ? 'inline-block' : 'none';
            document.getElementById('cancelButton').style.display = editMode ? 'inline-block' : 'none';
        }

        // Сделать функции доступными в глобальной области видимости
        window.toggleEditMode = toggleEditMode;
</script>


</body>
</html>