<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ошибка</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
  <h1>Произошла ошибка</h1>
  <p th:text="${errorMessage}">Сообщение об ошибке</p>

  <a href="/" class="btn btn-primary">Вернуться на главную</a>
</div>
</body>
</html>
