<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Детали заявки</title>
    <link rel="stylesheet" th:href="@{/styles/stylesDesign.css}">
</head>
<body>


<!-- Кнопка для создания заказ-наряда или сообщение о невозможности взять заявку -->
<div>
    <p th:if="${requestStatus == T(ru.victortikhonov.autoserviceapp.model.Request.RequestStatus).OPEN}">Приступить к
        выполнению заявки:</p>
    <form th:if="${requestStatus == T(ru.victortikhonov.autoserviceapp.model.Request.RequestStatus).OPEN}"
          th:action="@{/work-order/create}" method="post">
        <input type="hidden" name="requestId" th:value="${request.id}">
        <button type="submit">Начать работу</button>
    </form>

    <p th:unless="${requestStatus == T(ru.victortikhonov.autoserviceapp.model.Request.RequestStatus).OPEN}">
        Заявка не доступна для выполнения, так как ее статус: <span th:text="${requestStatus.description}"></span>
    </p>
</div>


<!-- Информация о заявке -->
<h1>Детали заявки</h1>

<div>
    <h2>Статус заявки</h2>
    <p th:text="${requestStatus.description}"></p>
</div>

<div>
    <h2>Оператор</h2>
    <p><strong>ФИО: </strong> <span
            th:text="${request.operator.surname} + ' ' + ${request.operator.name} + ' ' + ${request.operator.patronymic}"></span>
    </p>
    <p><strong>Номер телефона: </strong> <span th:text="${request.operator.phoneNumber}"></span></p>
</div>

<div>
    <h2>Клиент</h2>
    <p><strong>ФИО: </strong> <span
            th:text="${request.client.surname} + ' ' + ${request.client.name} + ' ' + ${request.client.patronymic}"></span>
    </p>
    <p><strong>Номер телефона: </strong> <span th:text="${request.client.phoneNumber}"></span></p>
    <p><strong>Email: </strong> <span
            th:text="${#strings.isEmpty(request.client.email) ? 'отсутствует' : request.client.email}"></span></p>
</div>

<div>
    <h2>Дата создания</h2>
    <p th:text="${formattedDate}"></p>
</div>

<div>
    <h2>Машина</h2>
    <p><strong>Марка: </strong> <span th:text="${request.car.brand}"></span></p>
    <p><strong>Модель:</strong> <span th:text="${request.car.model}"></span></p>
    <p><strong>Госномер:</strong> <span th:text="${request.car.stateNumber}"></span></p>
    <p><strong>VIN номер:</strong> <span th:text="${request.car.vin}"></span></p>
</div>

<div>
    <h2>Жалобы</h2>
    <p th:text="${request.complaints}"></p>
</div>


<!-- Кнопка для возврата -->
<a href="/request/list">Назад к списку заявок</a>


</body>
</html>
