<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список заявок</title>
    <link rel="stylesheet" th:href="@{/css/table-pagination.css}">
</head>
<body>


<!-- Кнопка для создания новой заявки -->
<div>
    <a href="/request/create">
        <button type="button">Создать заявку</button>
    </a>
</div>


<h1>Список заявок</h1>


<!-- Подключаю всплывающее уведомление -->
<div th:replace="~{fragments/toast :: toast}"></div>


<!-- Фильтры -->
<form method="get" th:action="@{/request/list}">
    <fieldset>
        <legend>Фильтры</legend>

        <!-- Фильтр по статусу -->
        <label for="statusFilter">Статус:</label>
        <select id="statusFilter" name="status">
            <option value="OPEN"
                    th:selected="${status == T(ru.victortikhonov.autoserviceapp.model.Request.RequestStatus).OPEN}">В
                ожидании
            </option>
            <option value="IN_PROGRESS"
                    th:selected="${status == T(ru.victortikhonov.autoserviceapp.model.Request.RequestStatus).IN_PROGRESS}">
                Исполняется
            </option>
            <option value="COMPLETED"
                    th:selected="${status == T(ru.victortikhonov.autoserviceapp.model.Request.RequestStatus).COMPLETED}">
                Завершена
            </option>
            <option value="REJECTED"
                    th:selected="${status == T(ru.victortikhonov.autoserviceapp.model.Request.RequestStatus).REJECTED}">
                Отклонена
            </option>
        </select>

        <!-- Фильтр по дате -->
        <label for="startDate">Дата с: </label>
        <input type="date" id="startDate" name="startDate" th:value="${startDate}"/>

        <label for="endDate">Дата по: </label>
        <input type="date" id="endDate" name="endDate" th:value="${endDate}"/>

        <button type="submit">Применить</button>
    </fieldset>
</form>


<form method="get" th:action="@{/request/list}">
    <fieldset>
        <legend>Поиск заявок</legend>

        <!-- Поиск по номеру заявки -->
        <label for="searchId">Номер заявки:</label>
        <input type="text" id="searchId" name="searchId" th:value="${searchId}" placeholder="1"
               pattern="\d*" oninput="this.value = this.value.replace(/\D/g, '')"/>
        <br>

        <!-- Поиск по номеру телефона клиента -->
        <label for="searchPhone">Телефон клиента:</label>
        <input type="text" id="searchPhone" name="searchPhone" th:value="${searchPhone}"
               placeholder="89999999999"  pattern="\d*" oninput="this.value = this.value.replace(/\D/g, '')"/>
        <br>

        <!-- Кнопка поиска -->
        <button type="submit">Искать</button>

        <!-- Очистка полей -->
        <button type="button" onclick="clearSearch()">Очистить</button>
    </fieldset>
</form>


<!-- Контейнер для таблицы и пагинации -->
<div class="table-container">
    <!-- Обертка для таблицы -->
    <div class="table-wrapper">
        <!-- Таблица заявок -->
        <table>
            <thead>
            <tr>
                <th>Номер</th>
                <th>Телефон клиента</th>
                <th>Дата и время создания</th>
                <th>Статус</th>
                <th>Автомобиль</th>
                <th>Госномер</th>
                <th>VIN</th>
                <th>Действие</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="request : ${requests}">
                <td th:text="${request.id}"></td>
                <td th:text="${request.client.phoneNumber}"></td>
                <td th:text="${#temporals.format(request.submissionDate, 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${request.requestStatus.description}"></td>
                <td th:text="${request.car.brand} + ' ' + ${request.car.model}"></td>
                <td th:text="${request.car.stateNumber}"></td>
                <td th:text="${request.car.vin}"></td>
                <td>
                    <!-- Кнопка "Открыть" -->
                    <form th:action="@{/request/check}" method="post" style="display: inline;">
                        <input type="hidden" name="requestId" th:value="${request.id}"/>
                        <button type="submit">Открыть</button>
                    </form>
                </td>
            </tr>
            <tr th:if="${requests.isEmpty()}">
                <td colspan="8">Заявки отсутствуют</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Пагинация -->
    <div class="pagination-container">
        <div class="pagination">
            <!-- Стрелка назад (не кликабельная на первой странице) -->
            <span class="pagination-arrow">
            <a th:if="${currentPage > 0}"
               th:href="@{/request/list(page=${currentPage - 1}, size=${size},
                                        status=${status},
                                        startDate=${startDate},
                                        endDate=${endDate})}">
                «««
            </a>
            <span th:if="${currentPage == 0}">«««</span>
        </span>

            <!-- Текущая страница и общее количество страниц -->
            <span th:text="${currentPage + 1}"></span> из <span th:text="${totalPages}"></span>

            <!-- Стрелка вперед (не кликабельная на последней странице) -->
            <span class="pagination-arrow">
            <a th:if="${currentPage < totalPages - 1}"
               th:href="@{/request/list(page=${currentPage + 1}, size=${size},
                                        status=${status},
                                        startDate=${startDate},
                                        endDate=${endDate})}">
                »»»
            </a>
            <span th:if="${currentPage == totalPages - 1}">»»»</span>
        </span>
        </div>
    </div>
</div>


<!-- Скрытый элемент для передачи ошибки -->
<input type="hidden" id="dateError" th:value="${dateError}"/>


<script>
    // Получаю значение ошибки
    const errorMessage = document.getElementById('dateError').value;

    // Если ошибка существует, показываю alert
    if (errorMessage) {
        alert(errorMessage);
    }

    function clearSearch() {
        document.getElementById("searchId").value = '';
        document.getElementById("searchPhone").value = '';
        window.location.href = "/request/list";
    }

</script>


</body>
</html>
