<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список услуг</title>
    <link rel="stylesheet" th:href="@{/css/table-pagination.css}">
    <script src="/js/table-services-js.js"></script>
</head>
<body>


<!-- Кнопка для создания категории/услуги -->
<div>
    <span>Создать услугу/категорию: </span>
    <a th:href="@{/service/create}">
        <button type="button">Создать</button>
    </a>
</div>


<h1>Список услуг</h1>


<!-- Подключаю всплывающее уведомление -->
<div th:replace="~{fragments/toast :: toast}"></div>


<!-- Фильтрация по категории -->
<form th:action="@{/service/list}" method="get">
    <label for="category">Выберите категорию:</label>
    <select id="category" name="categoryId">
        <option value="" th:selected="${selectedCategoryId == null}">Все категории</option>
        <option th:each="category : ${categories}"
                th:value="${category.id}"
                th:text="${category.name}"
                th:selected="${category.id == selectedCategoryId}"></option>
    </select>
    <button type="submit">Фильтровать</button>
</form>


<!--Поле для поиска-->
<div>
    <label for="searchInput">Поиск по наименованию:</label>
    <input type="text" id="searchInput" onkeyup="searchByName('servicesTable', 'searchInput')"
           placeholder="замена сцепления">
</div>


<!-- Контейнер для таблицы и пагинации -->
<div class="table-container">
    <!-- Обертка для таблицы -->
    <div class="table-wrapper">
        <!-- Таблица услуг -->
        <table id="servicesTable">
            <thead>
            <tr>
                <th>Название услуги</th>
                <th>Описание</th>
                <th>Категория</th>
                <th>Удаление</th>
            </tr>
            </thead>
            <tbody>
            <!-- Если услуг нет, выводим сообщение -->
            <tr th:if="${#lists.isEmpty(services)}">
                <td colspan="4" style="color: red; text-align: center;">Услуги отсутствуют</td>
            </tr>

            <!-- Отображение услуг -->
            <tr th:each="service, iterStat : ${services}">
                <td th:text="${service.name}"></td>
                <td th:text="${service.description}"></td>
                <td th:text="${service.category.name}"></td>
                <td>
                    <form th:action="@{/service/delete}" method="post">
                        <input type="hidden" name="id" th:value="${service.id}">
                        <button type="submit">Удалить</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Пагинация -->
    <div class="pagination-container">
        <div class="pagination">
            <!-- Стрелка назад -->
            <span class="pagination-arrow">
            <a id="prevPage" href="#" onclick="changePage(currentPage - 1)" aria-disabled="false">«««</a>
            <span id="prevPageDisabled" style="display: none;">«««</span>
        </span>

            <span id="currentPageNumber">1</span> из <span id="totalPages">1</span>

            <!-- Стрелка вперед -->
            <span class="pagination-arrow">
            <a id="nextPage" href="#" onclick="changePage(currentPage + 1)" aria-disabled="false">»»»</a>
            <span id="nextPageDisabled" style="display: none;">»»»</span>
        </span>
        </div>
    </div>
</div>


</body>
</html>
