<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список автотоваров</title>
</head>
<body>


<h1>Список автотоваров</h1>


<!-- Кнопка для создания категории/автотовара -->
<div>
    <span>Создать автотовар/категорию: </span>
    <a th:href="@{/auto-good/create}">
        <button type="button">Создать</button>
    </a>
</div>


<!-- Фильтрация по категории -->
<form th:action="@{/auto-good/show-table}" method="get">
    <label for="category">Выберите категорию:</label>
    <select id="category" name="categoryId">
        <option value="" th:selected="${selectedCategoryId == null}">Все категории</option>
        <option th:each="category : ${categories}"
                th:value="${category.id}"
                th:text="${category.name}"
                th:selected="${category.id == selectedCategoryId}"></option>
    </select>
    <button type="submit">Фильтровать</button>
</form>


<!--Поле для поиска-->
<div>
    <label for="searchInput">Поиск по наименованию:</label>
    <input type="text" id="searchInput" onkeyup="searchByName('autoGoodsTable', 'searchInput')"
           placeholder="моторное масло 5W-30">
</div>


<!-- Таблица автотоваров -->
<table border="1" id="autoGoodsTable">
    <thead>
    <tr>
        <th>№</th>
        <th>Название автотовара</th>
        <th>Количество</th>
        <th>Цена</th>
        <th>Срок годности</th>
        <th>Категория</th>
    </tr>
    </thead>
    <tbody>
    <!-- Если автотоваров нет, вывожу сообщение -->
    <tr th:if="${#lists.isEmpty(autoGoods)}">
        <td colspan="6" style="color: red; text-align: center;">
            Автотовары отсутсвуют
        </td>
    </tr>

    <!-- Отображение автотоваров -->
    <tr th:each="autoGood, iterStat : ${autoGoods}">
        <td th:text="${iterStat.index + 1}"></td>
        <td th:text="${autoGood.name}"></td>
        <td th:text="${autoGood.quantity}"></td>
        <td th:text="${autoGood.priceOneUnit}"></td>
        <td th:text="${autoGood.expirationDate}"></td>
        <td th:text="${autoGood.category.name}"></td>
    </tr>
    </tbody>
</table>


<script>
    // Поиск по наименованию
    function searchByName(tableId, inputId) {
        const filter = document.getElementById(inputId).value.toLowerCase();
        const rows = document.getElementById(tableId).getElementsByTagName('tr');

        for (let i = 1; i < rows.length; i++) {
            const cellText = rows[i].cells[1]?.textContent || '';
            rows[i].style.display = cellText.toLowerCase().includes(filter) ? '' : 'none';
        }
    }
</script>


</body>
</html>
