<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список заказ-нарядов</title>
    <link rel="stylesheet">
    <style>
        /* Стили для подсветки нового заказ-наряда */
        .highlight {
            background-color: yellow;
        }

        .canceled-in-progress {
            background-color: #ec5353;
        }

    </style>
</head>
<body>


<div th:if="${cancellationNotice}" style="color: #ec5353;">
    <p th:utext="${cancellationNotice}"></p>
</div>


<h1>Список заказ-нарядов</h1>


<!-- Подключаю всплывающее уведомление -->
<div th:replace="~{fragments/toast :: toast}"></div>


<div th:if="${dateError}" style="color: red;">
    <p th:text="${dateError}"></p>
</div>


<!-- Фильтры -->
<form th:action="@{/work-order/list}" method="get">
    <fieldset>
        <legend>Фильтр по дате создания ЗН</legend>
        <label for="statusFilter">Статус:</label>
        <select id="statusFilter" name="status">
            <option th:each="status : ${statuses}"
                    th:value="${status}"
                    th:text="${status.description}"
                    th:selected="${status == selectedStatus}"></option>
        </select>

        <!-- Фильтры по дате -->
        <label for="startDate">Дата с: </label>
        <input type="date" id="startDate" name="startDate" th:value="${startDate}"/>

        <label for="endDate">Дата по: </label>
        <input type="date" id="endDate" name="endDate" th:value="${endDate}"/>

        <button type="submit">Применить</button>
    </fieldset>
</form>


<!-- Таблица заказ-нарядов -->
<table border="1">
    <thead>
    <tr>
        <th>№ ЗН</th>
        <th>№ заявки</th>
        <th>Статус</th>
        <th>Авто</th>
        <th>Дата создания</th>
        <th>Дата окончания работ</th>
        <th>Цена</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="workOrder : ${workOrders}"
        th:classappend="${(workOrder.request.requestStatus == T(ru.victortikhonov.autoserviceapp.model.Request.RequestStatus).REJECTED
                     and workOrder.workOrderStatuses == T(ru.victortikhonov.autoserviceapp.model.WorkOrders.WorkOrderStatus).IN_PROGRESS)
                     ? 'canceled-in-progress ' : '' + (workOrder.id == newWorkOrderId ? 'highlight' : '')}">

        <td th:text="${workOrder.id}"></td>
        <td th:text="${workOrder.request.id}"></td>
        <td th:text="${workOrder.workOrderStatuses.description}"></td>
        <td th:text="${workOrder.request.car.brand} + ' ' + ${workOrder.request.car.model}"></td>
        <td th:text="${#temporals.format(workOrder.startDate, 'dd-MM-yyyy HH:mm')}"></td>
        <td th:text="${#temporals.format(workOrder.endDate, 'dd-MM-yyyy HH:mm')}"></td>
        <td th:text="${workOrder.calculatePrice()}"></td>
        <td>
            <!-- Кнопка "Открыть" -->
            <form th:action="@{/work-order/details}" method="get" style="display: inline;">
                <input type="hidden" name="workOrderId" th:value="${workOrder.id}"/>
                <button type="submit">Открыть</button>
            </form>
        </td>
    </tr>
    <tr th:if="${#lists.isEmpty(workOrders)}">
        <td colspan="8">Заказ-наряды отсутствуют</td>
    </tr>
    </tbody>
</table>


</body>
</html>
