<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Детали заказ-наряда</title>
    <link rel="stylesheet" th:href="@{/css/table-pagination.css}">
    <script src="/js/work-order-details-js.js"></script>
    <style>
        /* Переопределенные стили для таблицы с классом .current-items */
        .current-items {
            width: 35%; /* Устанавливаем таблице ширину 100% */
            border-collapse: collapse; /* Объединяем границы ячеек */
        }

        .current-items, .current-items th, .current-items td {
            border: 1px solid black; /* Граница для таблицы и ячеек */
        }

        .current-items th, .current-items td {
            padding: 10px; /* Увеличиваем отступы в ячейках */
            text-align: center; /* Выравнивание текста по центру */
        }

        h2 {
            font-size: 1.8em;
            font-weight: bold;
            text-transform: uppercase;
            color: #2c3e50;
        }

        h3 {
            font-size: 1.2em;
            font-weight: bold;
            color: #34495e;
            margin-top: 15px;
            margin-bottom: 10px;
            padding-bottom: 3px;
        }

        .error-row {
            background-color: #ffcccc; /* Светло-красный цвет */
        }
    </style>
</head>
<body>


<div th:if="${not viewMode}">
    <a th:href="@{/work-order/list}">
        <button type="button">К списку заказ-нарядов</button>
    </a>
</div>


<h1>Заказ-наряд № <span th:text="${workOrder.id}"></span></h1>


<h2>Общие сведения</h2>
<div class="form-section">
    <h3 th:if="${viewMode}">Механик</h3>
    <p th:if="${viewMode}"><strong>ФИО:</strong> <span
            th:text="${workOrder.mechanic.surname} + ' ' + ${workOrder.mechanic.name} +
             ' ' + ${workOrder.mechanic.patronymic}"></span></p>
    <p th:if="${viewMode}"><strong>Номер телефона:</strong> <span th:text="${workOrder.mechanic.phoneNumber}"></span>
    </p>

    <h3>Клиент</h3>
    <p><strong>ФИО:</strong> <span
            th:text="${workOrder.request.client.surname} + ' ' + ${workOrder.request.client.name} +
             ' ' + ${workOrder.request.client.patronymic}"></span></p>
    <p><strong>Номер телефона:</strong> <span th:text="${workOrder.request.client.phoneNumber}"></span></p>

    <h3>Автомобиль</h3>
    <p><strong>Марка:</strong> <span th:text="${workOrder.request.car.brand}"></span></p>
    <p><strong>Модель:</strong> <span th:text="${workOrder.request.car.model}"></span></p>
    <p><strong>VIN:</strong> <span th:text="${workOrder.request.car.vin}"></span></p>
    <p><strong>Госномер:</strong> <span th:text="${workOrder.request.car.stateNumber}"></span></p>

    <h3>Заказ-наряд</h3>
    <p><strong>Статус:</strong> <span th:text="${workOrder.workOrderStatuses.description}"></span></p>
    <p><strong>Дата начала работ:</strong>
        <span th:text=" ${#temporals.format(workOrder.startDate, 'dd.MM.yyyy HH:mm')}"></span>
    </p>
    <p><strong>Дата окончания работ:</strong>
        <span th:text="${workOrder.endDate != null} ? ${#temporals.format(workOrder.endDate, 'dd.MM.yyyy HH:mm')} : 'отсутствует'"></span>
    </p>
    <p><strong>Жалобы:</strong> <span th:text="${workOrder.request.complaints}"></span></p>
</div>


<h2 th:if="${workOrder.workOrderStatuses == T(ru.victortikhonov.autoserviceapp.model.WorkOrders.WorkOrderStatus).IN_PROGRESS} and not ${viewMode} ">
    Добавление автотоваров и услуг в заказ-наряд</h2>


<div class="form-section"
     th:if="${workOrder.workOrderStatuses == T(ru.victortikhonov.autoserviceapp.model.WorkOrders.WorkOrderStatus).IN_PROGRESS} and not ${viewMode}">
    <h3>Выбор автотоваров</h3>
    <form id="itemsForm" method="post">
        <input type="hidden" name="workOrderId" th:value="${workOrder.id}"/>

        <!-- Фильтрация автотоваров -->
        <label for="searchAutoGoods">Поиск товара:</label>
        <input type="text" id="searchAutoGoods" onkeyup="searchByName('autoGoodsTable', 'searchAutoGoods')"
               placeholder="Введите название товара"/>

        <!-- Если автотоваров нет -->
        <div th:if="${#lists.isEmpty(availableAutoGoods)}" style="color: red;">
            <p>Автотовары отсутствуют</p>
        </div>


        <!-- Таблица для выбора авто товаров -->
        <div class="table-container">
            <div class="table-wrapper">
                <table id="autoGoodsTable" th:if="${!#lists.isEmpty(availableAutoGoods)}">
                    <thead>
                    <tr>
                        <th>Выбрать</th>
                        <th>Наименование</th>
                        <th>Категория</th>
                        <th>Количество в наличии</th>
                        <th>Цена за штуку</th>
                        <th>Количество для заказа</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="autoGood : ${availableAutoGoods}">
                        <td>
                            <input type="checkbox" name="selectedAutoGoods" th:value="${autoGood.id}" class="checkbox" disabled/>
                        </td>
                        <td th:text="${autoGood.name}"></td>
                        <td th:text="${autoGood.category.name}"></td>
                        <td th:text="${autoGood.quantity}"></td>
                        <td th:text="${autoGood.priceOneUnit}"></td>
                        <td>
                            <input type="number" name="quantities" min="1" th:max="${autoGood.quantity}"
                                   class="quantity-input"
                                   oninput="enableCheckbox(this); validateInput(this)"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Пагинация для авто товаров -->
            <div class="pagination-container">
                <div class="pagination">
                    <span class="pagination-arrow">
                        <a id="prevAutoGoodsPage" href="#" onclick="changePage('autoGoods', currentAutoGoodsPage - 1)">«««</a>
                        <span id="prevAutoGoodsPageDisabled" style="display: none;">«««</span>
                    </span>

                    <span id="currentAutoGoodsPageNumber">1</span> из <span id="totalAutoGoodsPages">1</span>

                    <span class="pagination-arrow">
                        <a id="nextAutoGoodsPage" href="#" onclick="changePage('autoGoods', currentAutoGoodsPage + 1)">»»»</a>
                        <span id="nextAutoGoodsPageDisabled" style="display: none;">»»»</span>
                    </span>
                </div>
            </div>
        </div>

        <h3>Выбор услуг</h3>
        <!-- Фильтрация услуг -->
        <label for="searchServices">Поиск услуги:</label>
        <input type="text" id="searchServices" onkeyup="searchByName('servicesTable', 'searchServices')"
               placeholder="Введите название услуги"/>

        <!-- Если услуг нет -->
        <div th:if="${#lists.isEmpty(availableServices)}" style="color: red;">
            <p>Услуги отсутствуют</p>
        </div>

        <!-- Контейнер для таблицы и пагинации -->
        <div class="table-container">
            <!-- Обертка для таблицы -->
            <div class="table-wrapper">
                <table id="servicesTable" th:if="${!#lists.isEmpty(availableServices)}">
                    <thead>
                    <tr>
                        <th>Выбрать</th>
                        <th>Наименование</th>
                        <th>Категория</th>
                        <th>Цена</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="service : ${availableServices}">
                        <td>
                            <input type="checkbox" name="selectedServices" th:value="${service.id}" class="checkbox" disabled/>
                        </td>
                        <td th:text="${service.name}"></td>
                        <td th:text="${service.category.name}"></td>
                        <td>
                            <input type="number" name="price" min="0" class="price-input" oninput="enableCheckbox(this)"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Пагинация -->
            <div class="pagination-container">
                <div class="pagination">
                    <span class="pagination-arrow">
                        <a id="prevServicePage" href="#" onclick="changePage('services', currentServicesPage - 1)">«««</a>
                        <span id="prevServicePageDisabled" style="display: none;">«««</span></span>

                    <span id="currentServicePageNumber">1</span> из <span id="totalServicePages">1</span>

                    <span class="pagination-arrow">
                        <a id="nextServicePage" href="#" onclick="changePage('services', currentServicesPage + 1)">»»»</a>
                        <span id="nextServicePageDisabled" style="display: none;">»»»</span></span>
                </div>
            </div>
        </div>

        <div id="noAutoGoodsOrServiceMessage" style="color: red; display: none;">
            <p>Пожалуйста, выберите хотя бы один автотовар или услугу для добавления</p>
        </div>

        <div id="selectedAutoGoods">
            <h3>Выбранные автотовары:</h3>
            <ul id="selectedAutoGoodsList"></ul>
        </div>

        <div id="selectedServices">
            <h3>Выбранные услуги:</h3>
            <ul id="selectedServicesList"></ul>
        </div>

        <button type="button" onclick="submitSelectedItems()">
            Добавить
        </button>
    </form>
</div>


<h2>Состав заказ-наряда</h2>


<!-- Текущие автотовары -->
<div class="form-section">
    <h3>Автотовары</h3>
    <table class="current-items">
        <thead>
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Количество</th>
            <th>Цена</th>
            <th>Сумма</th>
            <th th:if="${workOrder.workOrderStatuses == T(ru.victortikhonov.autoserviceapp.model.WorkOrders.WorkOrderStatus).IN_PROGRESS
            and not #lists.isEmpty(autoGoods)}">Удаление</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="autoGood,  iterStat : ${autoGoods}">
            <td th:text="${iterStat.index + 1}"></td>
            <td th:text="${autoGood.autoGood.name}"></td>
            <td th:text="${autoGood.quantity}"></td>
            <td th:text="${autoGood.priceOneUnit}"></td>
            <td th:text="${autoGood.calculatePrice()}"></td>
            <td th:if="${workOrder.workOrderStatuses == T(ru.victortikhonov.autoserviceapp.model.WorkOrders.WorkOrderStatus).IN_PROGRESS}">
                <button type="button"
                        th:onclick="'deleteItem(' + ${workOrder.id} + ',' + ${autoGood.autoGood.id} + ', \'autoGood\')'">
                    Удалить
                </button>
            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(autoGoods)}">
            <td colspan="5">Нет добавленных автотоваров</td>
        </tr>
        <tr>
            <td colspan="4"><strong>Итого</strong></td>
            <td th:text="${workOrder.calculateTotalPriceAutoGoods()}"></td>
        </tr>
        </tbody>
    </table>
</div>


<!-- Текущие услуги -->
<div class="form-section">
    <h3>Услуги</h3>
    <table class="current-items">
        <thead>
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Цена</th>
            <th th:if="${workOrder.workOrderStatuses == T(ru.victortikhonov.autoserviceapp.model.WorkOrders.WorkOrderStatus).IN_PROGRESS
             and not #lists.isEmpty(services)}">Удаление
            </th>
        <tbody>
        <tr th:each="service, iterStat : ${services}">
            <td th:text="${iterStat.index + 1}"></td>
            <td th:text="${service.service.name}"></td>
            <td th:text="${service.price}"></td>
            <td th:if="${workOrder.workOrderStatuses == T(ru.victortikhonov.autoserviceapp.model.WorkOrders.WorkOrderStatus).IN_PROGRESS}">
                <button type="button"
                        th:onclick="'deleteItem(' + ${workOrder.id} + ',' + ${service.service.id} + ', \'service\')'">
                    Удалить
                </button>
            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(services)}">
            <td colspan="4">Нет добавленных услуг</td>
        </tr>
        <tr>
            <td colspan="2"><strong>Итого</strong></td>
            <td th:text="${workOrder.calculateTotalPriceServices()}"></td>
        </tr>
        </tbody>
    </table>
</div>


<!-- Общая стоимость -->
<div class="form-section">
    <p><strong>Итоговая сумма:</strong> <span th:text="${workOrder.calculatePrice()}"></span></p>
</div>


<!-- Отображаем кнопку только если статус заказ-наряда "В процессе" -->
<div>
    <button type="button" th:if="${workOrder.workOrderStatuses ==T(ru.victortikhonov.autoserviceapp.model.WorkOrders.WorkOrderStatus).IN_PROGRESS} and not ${viewMode}"
            th:onclick="|window.location='@{/work-order/details/complete(workOrderId=${workOrder.id})}'|">
        Завершить работу
    </button>
    <br>
    <span id="missingServiceError" th:if="${missingServiceError}" th:text="${missingServiceError}" style="color: red;"></span>
</div>

</body>
</html>

